<div class="card border-dark">
    <div class="card-header text-center  text-white">VIEW ISSUE</div>
    <div class="card-body">
      <div class="row mb-4">
        <div class="col-md-12">
         <div class="card border-0 rounded-0">
           <div class="card-body">
            <div class="table-responsive-md">

              <nav class="navbar">
                  <input type="text" class="form-control" name="tokenNumber" [(ngModel)]="tokenNumber" (ngModelChange)="search()" placeholder="Enter token number to search">
              </nav>
              <table class="table table-hover" *ngIf="!isView">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Token No</th>
                    <th scope="col">location code</th>
                    <th scope="col">Project</th>
                    <th scope="col">Module</th>
                    <th scope="col">Problem</th>
                    <th scope="col">Assigned To</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor=" let i = index let ps of assignedProblemStatement |
                  paginate: {id:'paging_issues',itemsPerPage:5,currentPage: page,totalItems:total_issues}; ">
                    <td><small>{{i+1}}</small></td>
                    <td><small>{{ps.tokenNumber}}</small></td>
                    <td><small>{{ps.locationCode}}</small></td>
                    <td><small>{{ps.projectName}}</small></td>
                    <td><small>{{ps.projectModule}}</small></td>
                    <td><small>{{ps.problemStatement}}</small></td>
                    <td><small>{{ps.assignedUsername}}&nbsp; &nbsp; {{ps.assignedName}}</small></td>
                    <td><span *ngIf="ps.status==='FORWARDED'" class="badge badge-warning rounded-0 p-1">{{ps.status}}</span><span *ngIf="ps.status==='REJECTED'" class="badge badge-primary rounded-0 p-1">{{ps.status}}</span><span *ngIf="ps.status==='COMPLETED'" class="badge badge-success rounded-0 p-1">{{ps.status}}</span><span *ngIf="ps.status==='PENDING'" class="badge badge-danger rounded-0 p-1">{{ps.status}}</span></td>
                    <td><button class="btn btn-info btn-sm" (click)="onClickView(ps)" >view</button></td>            
                  </tr>
                </tbody>
              </table>
              <pagination-controls id="paging_issues" maxSize="5" class="d-flex justify-content-center" directionLinks="true" (pageChange)="page=$event">
              </pagination-controls>
            </div>
  
          </div>
        </div>
       </div>
      
      <div class="container" *ngIf="isView">
        <div class="d-flex justify-content-end p-2 mb-2"><button class="btn btn-info btn-sm" (click)="onClickBack()" ><i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i></button></div>
            <div class="table-responsive-md">
           <table class="table table-hover">
            <tbody>
             <tr>
               <td><b>Token Number</b></td> <td><span class="badge badge-warning rounded-0 p-1">{{viewIssue.tokenNumber}}</span></td>
               <td><b>Status</b></td> <td><span *ngIf="viewIssue.status==='COMPLETED'" class="badge badge-success rounded-0 p-1">{{viewIssue.status}}</span>
                <span *ngIf="viewIssue.status==='REJECTED'" class="badge badge-primary rounded-0 p-1">{{viewIssue.status}}</span>
                <span *ngIf="viewIssue.status==='PENDING'" class="badge badge-danger rounded-0 p-1">{{viewIssue.status}}</span></td>
             </tr> 
             <tr>
              <td><b>Assigned User</b></td> <td><span class="badge badge-dark rounded-0 p-1">{{viewIssue.assignedUsername}}</span></td>
              <td><b>Assigned Username</b></td> <td><span class="badge badge-dark rounded-0 p-1">{{viewIssue.assignedName}}</span></td>
            </tr>
            <tr>
              <td><b>Created By</b></td> <td>{{viewIssue.username}}&nbsp;{{viewIssue.name}}</td>
              <td><b>office Type</b></td> <td>{{viewIssue.officeType}}</td>
            </tr>

             <tr>
              <td><b>Location code</b></td> <td>{{viewIssue.locationCode}}</td>
              <td><b>location Name</b></td> <td>{{viewIssue.locationName}}</td>
            </tr>

             <tr>
              <td><b>Project Name</b></td> <td>{{viewIssue.projectName}}</td>
              <td><b>Project Module</b></td> <td>{{viewIssue.projectModule}}</td>
              </tr>
            <tr>
              <td><b>Problem Statement</b></td> <td>{{viewIssue.problemStatement}}</td><td><b>Status Comments</b></td> <td>{{viewIssue.userComments}}</td>
             </tr>
             <tr>
              <td><b>Description</b></td> <td>{{viewIssue.description}}</td>
             </tr>
            
            </tbody>

          </table>

        </div>

        <div *ngIf="isView">
          <!-- <hr> -->
          <table class="table d-flex justify-content-center" >
           <tbody>
              <tr *ngFor="let file of files let i = index">
               <td><small>{{file.originalName}}</small></td>
                <td><button class="btn btn-info btn-sm" (click)="viewFileClicked(file)" >view</button></td>            
              </tr>
            </tbody>
          </table>
        </div>
      </div> 
       
    </div>
    </div>
  </div>