.card-header {
    font-size: 20px;
    background-color: rgb(23 162 184);
}
.card-body {
padding:.25px;
}

.table td,th {
    border-top: 1px;
  }

  .table .thead-dark th {
       background-color: #17a2b8;
  }
  #titleDiv{
      display: flex;
      justify-content: center;
      height: 0px;
  }
  
.dataTables_filter {
    float: right;
    text-align: right;
    margin-right: 5px !important;
  }