.row{
    display: flex;
    justify-content: center;

}

.table{
   display: flex;
   justify-content: center;
}
.table td {
    border-top: 0px;
}

.button{
    display: flex;
    justify-content: center;
  
}