<div class="container">
<div class="card border-dark">
  <div class="card-header text-center main-header text-white">ADD ISSUE</div>
  <div class="card-body">
     <form [formGroup]="issueMasterForm"  (ngSubmit)="onSubmitIssueMasterForm()">
     <div class="row">
      <div class="col-md-3 mb-4 mt-4" *ngIf="role ==='oic'">
        <div>
          <select class="form-control" name="projectOic" formControlName="projectName"
            (change)="onChangeProjectOic()" required>
            <option value="" disabled>Select Project</option>
            <option *ngFor="let project of projectsOic" class="form-control form-control-sm">{{project.name}}</option>
          </select>
        </div>
      </div>
    
      <div class="col-md-3 mb-4 mt-4" *ngIf="role !=='oic'">
        <div>
          <select class="form-control" name="projectOthers" formControlName="projectName"
            (change)="onChangeProjectOther()" required>
            <option value="" disabled>Select Project</option>
            <option *ngFor="let project of projectsOther" class="form-control form-control-sm">{{project.projectName}}
            </option>
          </select>
        </div>
      </div>
    
      <div class="col-md-3 mb-4 mt-4">
        <div>
          <select class="form-control" name="projectModule" formControlName="projectModule"
            (change)="onChangeProjectModule()" required>
            <option value="" disabled>Select Module</option>
            <option *ngFor="let module of moduleList" [ngValue]="module" class="form-control form-control-sm">
              {{module.projectModule}}</option>
          </select>
        </div>
      </div>
    
      <div class="col-md-3 mb-4 mt-4">
        <div>
          <select class="form-control" name="problemStatement" formControlName="projectProblemStatement" required>
            <option value="" disabled>Select Problem statement</option>
            <option *ngFor="let projectProblemStatment of projectProblemStatmentList" class="form-control form-control-sm">
              {{projectProblemStatment.problemStatement}}</option>
            <option [ngvalue]="others" *ngIf="isOther">Others</option>
          </select>
        </div>
      </div>
     </div>
         
     <div class="row">
      <div class="col-md-8 mb-2 mt-2">
       <div class="form-group">
      <label for="comment">Problem Description:</label>
      <textarea class="form-control" rows="3" id="comment"  formControlName="description" required></textarea>
     </div>
     </div>
     </div>
    
     <div class="row">
      <div class="col-md-8 mb-2 mt-2">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" formControlName="isAttachment" id="exampleCheck1" (click)="isAttachmentClicked()">
          <label class="form-check-label" for="exampleCheck1">Attachment</label>
        </div>
      </div>
</div>
    
    
     <!--File upload Code End Here  -->


     <div *ngIf="issueMasterForm.value.isAttachment">

        <div class="fileinfo mb-3 mt-3">
        
          <div>
            <small class="mr-4">Maximum -> 5 file</small>
          </div>
        
          <div>
            <small class="mr-4">Maximum file size -> 1 Mb</small>
          </div>
          <div>
            <small>File type ->[ jpg, pdf ,doc ,xls ] only</small>
          </div>
        </div>
     

       <div class="table">
          <div  class="mr-3"><label for="exampleFormControlFile1">Attatch File </label></div>
          <div><input type="file" class="form-control-file" (change)="onFileChange($event)"formControlName="attachment" accept="image/*,.pdf,.doc,.docx,.xml,.xls" multiple required></div>
        </div>

       <div>
         <table class="table">
         <tbody>
          <tr *ngFor="let field of myFiles; let i = index">

            <td>{{i+1}}</td>
            <td>
             {{field.name}}
            </td>
            <td>
              {{field.size/1000000 | number}}Mb
             </td>
            <td>
              <button class="btn btn-danger btn-sm" type="button" (click)="deleteFieldValue(i)"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
            </td>
          </tr>
          
          </tbody>
         </table>
       </div>
      </div>
     <div class="button mt-4"><button type="submit" [disabled]="!issueMasterForm.valid" class="btn btn-primary">Submit</button></div>
     

     </form>
        
  </div>
 </div>

</div>

<div *ngIf="isProcessing">
  <div class="form-group d-flex justify-content-center mt-4">
      <label class="font-weight-bold">Processing....</label>
      <div class="spinner-border text-info"></div>
  </div>
</div>
