<div class="row">
  <div class="col-md-12 col-lg-3 mb-4 mt-4 align-items-stretch" *ngIf="role ==='oic'">
    <div>
      <select class="form-control" name="projectOic" [(ngModel)]="issueMaster.projectName" (change)="onChangeProjectOic()"  required>
        <option [value]="undefined" selected disabled>Select Project</option>
        <option *ngFor="let project of projectsOic" class="form-control form-control-sm">{{project.name}}</option>
      </select>
    </div>
  </div>

  <div class="col-md-12 col-lg-3 mb-4 mt-4 align-items-stretch" *ngIf="role !=='oic'">
    <div>
      <select class="form-control" name="projectOthers" [(ngModel)]="issueMaster.projectName" (change)="onChangeProjectOther()"required>
        <option [value]="undefined" selected disabled>Select Project</option>
        <option *ngFor="let project of projectsOther" class="form-control form-control-sm">{{project.projectName}}
        </option>
      </select>
    </div>
  </div>

  <div class="col-md-12 col-lg-3 mb-4 mt-4 align-items-stretch">
    <div>
      <select class="form-control" name="projectModule" [(ngModel)]="issueMaster.projectModule" (change)="onChangeProjectModule()" required>
        <option [value]="undefined" selected disabled>Select Module</option>
        <option *ngFor="let module of moduleList" [ngValue]="module" class="form-control form-control-sm">{{module.projectModule}}</option>
      </select>
    </div>
  </div> 

  <div class="col-md-12 col-lg-3 mb-4 mt-4 align-items-stretch">
    <div>
      <select class="form-control" name="problemStatement" [(ngModel)]="issueMaster.problemStatement" required>
        <option [value]="undefined" selected disabled>Select Problem statement</option>
        <option *ngFor="let projectProblemStatment of projectProblemStatmentList" class="form-control form-control-sm">{{projectProblemStatment.problemStatement}}</option>
        <option [value]="others" *ngIf="isOther">Others</option>
      </select>
    </div>
  </div>
</div>

<!--File upload Code Start From Here  -->
<div>
  <table class="table">
    <tbody>
      <tr *ngFor="let field of fieldArray; let i = index">
        <td>
          <label for="exampleFormControlFile1">Attatch File</label>
        </td>
        <td>
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </td>

        <td>
          <button class="btn btn-danger btn-sm" type="button" (click)="deleteFieldValue(i)"><i class="fa fa-minus-square fa-lg" aria-hidden="true"></i></button>
        </td>
      </tr>
      <tr>
        <td>
          <label for="exampleFormControlFile1">Attatch File </label>
        </td>
        <td>
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </td>

        <td>
          <button class="btn btn-primary btn-sm" type="button" (click)="addFieldValue()"><i
              class="fa fa-plus-square fa-lg" aria-hidden="true"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!--File upload Code End Here  -->