
#showcase{
    background-image: url('src/assets/img/login.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.img-fluid{
    width: 60px;
}
.card-footer{
 background-color:#a95c0d;
}.card{
   background-color: #f3aa4e;
   background-color: rgba(241, 128, 12,0.2);
   margin-right: 200px;
   
   }
.input-group-text {
    color: #a85b0c;
}
.header{
font-size:large;
}


