<section class="content" *ngIf="totalIssue>0 || resolveIssue>0">
  <div class="container-fluid">
    <!-- Info boxes -->
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-info elevation-1"
            ><i class="fas fa-bug"></i
          ></span>

          <div class="info-box-content">
            <span class="info-box-text">Total Issue</span>
            <span class="info-box-number">
              {{totalIssue}}
              
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-danger elevation-1"
            ><i class="fas fa-bug"></i
          ></span>

          <div class="info-box-content">
            <span class="info-box-text">Pending Issue</span>
            <span class="info-box-number">{{pendingIssue}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix hidden-md-up"></div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-success elevation-1"
            ><i class="fas fa-bug"></i
          ></span>

          <div class="info-box-content">
            <span class="info-box-text">Resolve Issue</span>
            <span class="info-box-number">{{resolveIssue}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-warning elevation-1"
            ><i class="fas fa-bug"></i
          ></span>

          <div class="info-box-content">
            <span class="info-box-text">Forwarded Issue</span>
            <span class="info-box-number">{{forwardedIssue}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
   
    <!-- /.row -->
  </div>
  <!--/. container-fluid -->
</section>

