.wrapper nav.navbar {
    height: 60px;
    padding: 0;
    border-bottom: 1px solid;
}
.wrapper nav.navbar .navbar-header .navbar-brand {
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 2px;
}
.wrapper nav.navbar .navbar-header .navbar-brand span {
    display: none;
}
.wrapper nav.navbar .nav-toggler-right {
    position: relative;
}
.wrapper nav.navbar .nav-toggler-right button {
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #fff;
}
.wrapper nav.navbar .nav-toggler-right button img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.wrapper nav.navbar .nav-toggler-right .nav-alert {
    right: 0px;
    border-width: 1px;
    width: 9px;
    height: 9px;
}
.wrapper nav.navbar .nav-alert {
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    border: 3px solid #1c1e21;
    transform: translateX(13px);
}
@media (min-width: 768px) {
    .wrapper nav.navbar .nav-alert {
        right: 20px;
        transform: translateX(0);
   }
}
.wrapper nav.navbar .nav-alert.user-profile {
    transform: translateX(2px);
}
.wrapper nav.navbar .navbar-header {
    height: 100%;
    display: flex;
    align-items: center;
}
.wrapper nav.navbar .user-profile span {
    display: none;
}
.wrapper nav.navbar .right-nav {
    border-top: 1px solid;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: calc(100vh - 60px + 1px) !important;
}
.wrapper nav.navbar .right-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.wrapper nav.navbar .right-nav ul li {
    flex: 1 1 0;
    max-width: 110px;
    padding: 1rem;
}
.wrapper nav.navbar .right-nav ul li .nav-link {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.wrapper nav.navbar .right-nav ul li .nav-link .link-text {
    margin-top: 10px;
    font-size: 0.9rem;
    text-transform: uppercase;
}
.wrapper nav.navbar .nav-link {
    padding: 0;
}
.wrapper nav.navbar .nav-link i {
    font-size: 1.1rem;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 0;
}
.wrapper nav.navbar .left-nav {
    display: none;
}
.wrapper nav.navbar .left-nav input.navbar-search {
    max-width: 500px;
    border-radius: 0;
    border: none;
    height: 40px;
    font-size: 0.9rem;
}
@media (min-width: 768px) {
    .wrapper nav.navbar .sidebar-toggler {
        display: none;
   }
    .wrapper nav.navbar .navbar-header {
        width: 260px;
        margin-left: 0 !important;
   }
    .wrapper nav.navbar .navbar-header .navbar-brand span {
        display: inline-block;
   }
    .wrapper nav.navbar .left-nav {
        display: flex;
   }
    .wrapper nav.navbar .nav-link {
        padding-left: 0.3rem;
        padding-right: 0.3rem;
   }
    .wrapper nav.navbar .nav-alert {
        right: 12px;
   }
    .wrapper nav.navbar .right-nav {
        height: 100% !important;
        border-top: none;
        background: none !important;
   }
    .wrapper nav.navbar .right-nav ul {
        margin-left: auto;
        flex-wrap: nowrap;
   }
    .wrapper nav.navbar .right-nav ul li {
        padding: 0;
   }
    .wrapper nav.navbar .right-nav ul li .nav-link .link-text {
        display: none;
   }
}
