     .content-wrapper{
   padding: 10px;
  }
  .control-sidebar{
    height: fit-content;

  }
  [class*='sidebar-dark-'] {
    background-color: #301a02;
}
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
  background-color: #a95c0d;
  /* color: #ffffff; */
}