
<div class="card border-dark">
    <div class="card-header text-center text-white">WELCOME TO HOME</div>
    <div class="card-body">
         <div class="jumbotron text-center">
            <h1 class="display-3">Hello,{{loggedInUser.getName()}} !</h1>
           <p class="lead">Welcome to : Win Common Issue Tracker</p>
              <!-- <hr class="my-4">
              <p>This is your home page, you can see various notifications and other menu options here.</p> -->
        <hr class="my-4">
      <!-- <div class="card border-dark mb-3 text-center" id="mainDiv">
        <div class="card-header border-dark">LATEST BILLING STATUS FOR {{loggedInUser.getZone().name}} ({{loggedInUser.getZone().code}})</div>
        <div class="card-body">
            <ngb-billing-status></ngb-billing-status>
        </div>
       </div> -->
     </div>
  </div>
</div>