
<div class="card border-dark" *ngIf="!isView">
  <div class="card-header text-center text-white">TO DO ISSUE</div>
  <div class="card-body">
    <div *ngIf="!(assignedProblemStatement.length>0)" class="alert alert-warning text-center" role="alert">
      <b> To do issue not found !!!</b>     
    </div>
    <div *ngIf="(assignedProblemStatement.length>0)" class="row mb-4">
      <div class="col-md-12">
        <div class="card border-0 rounded-0">
          <div class="card-body">
            <table class="table table-responsive-md" datatable [dtOptions]="dtOptions" *ngIf="!isView">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Token No</th>
                  <th scope="col">Location code</th>
                  <th scope="col">Project</th>
                  <th scope="col">Project Module</th>
                  <th scope="col">Problem</th>
                  <th scope="col">Status</th>
                  <th scope="col">Attachment</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ps of assignedProblemStatement let i = index">
                  <td><small>{{i+1}}</small></td>
                  <td><small><b>{{ps.tokenNumber}}</b></small></td>
                  <td><small>{{ps.locationCode}}</small></td>
                  <td><small>{{ps.projectName}}</small></td>
                  <td><small>{{ps.projectModule}}</small></td>
                  <td><small>{{ps.projectProblemStatement}}</small></td>
                  <td><span *ngIf="ps.status==='FORWARDED'"
                      class="badge badge-primary rounded-0 p-1">{{ps.status}}</span>
                      <span *ngIf="ps.status==='REJECTED'"
                      class="badge badge-warning rounded-0 p-1">{{ps.status}}</span><span
                      *ngIf="ps.status==='COMPLETED'"
                      class="badge badge-success rounded-0 p-1">{{ps.status}}</span>
                      <span *ngIf="ps.status==='PENDING'"
                      class="badge badge-danger rounded-0 p-1">{{ps.status}}</span></td>
                  <td><button class="btn btn-info btn-sm" (click)="onClickView(ps)">view</button></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    
    </div>
  </div>
</div>

<div class="card" *ngIf="isView">
  <div class="d-flex justify-content-end p-2 mb-2"><button class="btn btn-info btn-sm" (click)="onClickBack()"><i
    class="fa fa-arrow-left fa-lg" aria-hidden="true"></i></button>
  </div>
  <div class="card-header">
    <div id="titleDiv">
      <h3 class="card-title text-white text-center">ISSUE DETAILS</h3>
    </div>
    <div class="card-tools">
      <button
        type="button"
        class="btn btn-tool"
        data-card-widget="collapse"
      >
        <i class="fas fa-minus"></i>
      </button>
      <button
        type="button"
        class="btn btn-tool"
        data-card-widget="remove"
      >
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div>
      <div class="table-responsive-md">
        <table class="table table-hover">
           <tbody>
            <tr>
              <td><b>Token Number</b></td>
              <td><span class="badge badge-warning rounded-0 p-1">{{viewIssue.tokenNumber}}</span></td>
              <td><b>Status</b></td>
              <td><span *ngIf="viewIssue.status==='COMPLETED'"
                  class="badge badge-success rounded-0 p-1">{{viewIssue.status}}</span>
                  <span
                  *ngIf="viewIssue.status==='PENDING'"
                  class="badge badge-danger rounded-0 p-1">{{viewIssue.status}}</span>
                  <span
                  *ngIf="viewIssue.status==='FORWARDED'"
                  class="badge badge-primary rounded-0 p-1">{{viewIssue.status}}</span>
                  <span
                  *ngIf="viewIssue.status==='REJECTED'"
                  class="badge badge-warning rounded-0 p-1">{{viewIssue.status}}</span>
    
                </td>
            </tr>
            
            <tr>
              <td><b>Created By</b></td>
              <td>{{viewIssue.username}} ( {{viewIssue.name}} )</td>
              <td><b>Created On</b></td>
              <td>{{viewIssue.createdOn | date:'medium' }}</td>
            </tr>
    
            <tr>
              <td><b>Location code</b></td>
              <td>{{viewIssue.locationCode}}</td>
              <td><b>Location Name</b></td>
              <td>{{viewIssue.locationName}}</td>
            </tr>
    
            <tr>
              <td><b>Project Name</b></td>
              <td>{{viewIssue.projectName}}</td>
              <td><b>Project Module</b></td>
              <td>{{viewIssue.projectModule}}</td>
            </tr>
            <tr>
              <td><b>Problem Statement</b></td>
              <td>{{viewIssue.projectProblemStatement}}</td>
              <td><b>Description</b></td><td>{{viewIssue.description}}</td>
            </tr>
            
          </tbody>
    
        </table>
        
        <table class="table table-responsive-md" *ngIf="files && files.length>0">
          <thead class="thead-dark text-center">
            <th colspan="3">
              <h5>ATTACHED FILES</h5>
            </th>
          </thead>
          <tbody>
            <tr>
              <th>#</th>
              <th>File name</th>
              <th>Action</th>
            </tr>
            <tr *ngFor="let file of files let i = index">
              <td>{{i+1}}</td>
              <td><small>{{file.originalName}}</small></td>
              <td><button class="btn btn-info btn-sm" (click)="viewFileClicked(file)">view</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <!-- /.card-pane-right -->
    </div>
    <!-- /.d-md-flex -->
  </div>
  <!-- /.card-body -->
</div>

<div class="card" *ngIf="isView">
   <div class="card-header">
    <div id="titleDiv"><h3 class="card-title text-white text-xs-center">ISSUE CURRENT STATUS</h3></div>

    <div class="card-tools">
      <button
        type="button"
        class="btn btn-tool"
        data-card-widget="collapse"
      >
        <i class="fas fa-minus"></i>
      </button>
      <button
        type="button"
        class="btn btn-tool"
        data-card-widget="remove"
      >
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div *ngIf="statusList && statusList.length>0">
      <!-- <hr> -->
      <table class="table table-responsive-md">
            
        <tbody>
          <tr>
            <th>#</th>
            <th>Token Number</th>
            <th>Status</th>
            
            <th>Comments</th>
            <th>Assigned User</th>
            <th>Date/Time</th>
          </tr>
          <tr *ngFor="let status of statusList let i = index">
            <td><small>{{i+1}}</small></td>
            <td><small><b>{{status.tokenNumber}}</b></small></td>
            <td><span *ngIf="status.status==='COMPLETED'"
              class="badge badge-success rounded-0 p-1">{{status.status}}</span>
            <span *ngIf="status.status==='REJECTED'"
              class="badge badge-warning rounded-0 p-1">{{status.status}}</span>
            <span *ngIf="status.status==='PENDING'"
              class="badge badge-danger rounded-0 p-1">{{status.status}}</span>
              <span *ngIf="status.status==='FORWARDED'"
              class="badge badge-primary rounded-0 p-1">{{status.status}}</span></td>
            <td *ngIf="status.status === 'PENDING'"></td>
            <td *ngIf="status.userComments !== null"><small>{{status.userComments}}</small></td>
            <td><small>{{status.username}}({{status.name}})</small></td>
            <td><small>{{status.createdOn | date:'medium'}}</small></td>
                   </tr>
        </tbody>
      </table>
    </div> 
    <!-- /.d-md-flex -->
  </div>
  <!-- /.card-body -->
</div>

<div class="card" *ngIf="isView && requestInfoList.length>0">
  <div class="card-header">
    <div id="titleDiv"> <h3 class="card-title text-white">REQUESTED INFORMATION</h3></div>
  

   <div class="card-tools">
     <button
       type="button"
       class="btn btn-tool"
       data-card-widget="collapse"
     >
       <i class="fas fa-minus"></i>
     </button>
     <button
       type="button"
       class="btn btn-tool"
       data-card-widget="remove"
     >
       <i class="fas fa-times"></i>
     </button>
   </div>
 </div>
 <!-- /.card-header -->
 <div class="card-body">
   <div *ngIf="requestInfoList && requestInfoList.length>0">
     <!-- <hr> -->
     <table class="table table-responsive-md">
           
       <tbody>
         <tr>
           <th>#</th>
           <th>Token Number</th>
           <th>Request Message</th>
           <th>Requested To</th>
           <th>Requested By</th>
           <th>Date/Time</th>
         </tr>
         <tr *ngFor="let requestInfo of requestInfoList let i = index">
           <td><small>{{i+1}}</small></td>
           <td><small><b>{{requestInfo.tokenNumber}}</b></small></td>
           <td><small>{{requestInfo.requestMessage}}</small></td>
           <td><small>{{requestInfo.username}}({{requestInfo.name}})</small></td>
           <td><small>{{requestInfo.requestedUsername}}({{requestInfo.requestedName}})</small></td>
           <td><small>{{requestInfo.createdOn |date:'medium'}}</small></td>
           
                  </tr>
       </tbody>
     </table>
   </div> 
   <!-- /.d-md-flex -->
 </div>
 <!-- /.card-body -->
</div>

<hr *ngIf="isView"  class="view">
<div *ngIf="isView" class="d-flex justify-content-center mr-2">
  <div>
    <button class="btn btn-success btn-sm mr-4" [disabled]="isDisable"
      (click)="onClickResolve(viewIssue)">Resolve</button>
  </div>
  <div>
    <button class="btn btn-warning btn-sm mr-4" [disabled]="isDisable"
      (click)="onClickReject(viewIssue)">Reject</button>
  </div>
  <div>
    <button  *ngIf="locationCode!=='34420124'" class="btn btn-primary btn-sm mr-4" [disabled]="isDisable"
      (click)="onClickforward(viewIssue)">Forward</button>
  </div>
  <div>
    <button class="btn btn-info btn-sm" [disabled]="isDisable" (click)="onClickRequestInfo(viewIssue)">Request
      Info</button>
  </div>
</div>

<div class="card mt-2" *ngIf="isForward">
  <div class="card-header text-center text-white">FORWARD ISSUE</div>
  <div class="card-body">
    <div class="d-flex justify-content-end p-2 mb-2"><button class="btn btn-info btn-sm"
        (click)="onClickForwardBack()"><i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i></button></div>
    <form [formGroup]="requestForwardForm" (ngSubmit)="onForwardSubmit()">
      <table class="table d-flex justify-content-center">
        <tbody>
          <tr *ngIf="forwardUser != null">
            <th>Forward To</th>
            <td><small>{{forwardUser.username}} ({{forwardUser.name}})</small></td>
          </tr>
          <tr>
            <th>Token Number</th>
            <td><small>{{viewIssue.tokenNumber}}</small></td>
          </tr>
          <tr>
            <th>Remark</th>
            <td><textarea class="form-control" rows="2" id="remark" formControlName="remark" name="remarks"
                required></textarea></td>
          </tr>
          <tr>
            <th></th>
            <td><button type="submit" [disabled]="requestForwardForm.invalid"
                class="btn btn-primary btn-sm ml-5">Submit</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>

<div class="card mt-2" *ngIf="isResolve">
  <div class="card-header text-center text-white">RESOLVE ISSUE</div>
  <div class="card-body">
    <div class="d-flex justify-content-end p-2 mb-2"><button class="btn btn-info btn-sm"
        (click)="onClickResolveBack()"><i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i></button></div>
    <form [formGroup]="resolveForm" (ngSubmit)="onResolveSubmit()">
      <table class="table d-flex justify-content-center">
        <tbody>
          <tr>
            <th>Token Number</th>
            <td><small>{{viewIssue.tokenNumber}}</small></td>
          </tr>
          <tr>
            <th>comments</th>
            <td><textarea class="form-control" rows="2" id="remark" formControlName="comments" name="remarks"
                required></textarea></td>
          </tr>
          <tr>
            <th></th>
            <td><button type="submit" [disabled]="resolveForm.invalid"
                class="btn btn-primary btn-sm ml-5">Submit</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>

<div class="card mt-2" *ngIf="isReject">
  <div class="card-header text-center text-white">REJECT ISSUE</div>
  <div class="card-body">
    <div class="d-flex justify-content-end p-2 mb-2"><button class="btn btn-info btn-sm"
        (click)="onClickRejectBack()"><i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i></button></div>
    <form [formGroup]="rejectForm" (ngSubmit)="onRejectSubmit()">
      <table class="table d-flex justify-content-center">
        <tbody>
          <tr>
            <th>Token Number</th>
            <td><small>{{viewIssue.tokenNumber}}</small></td>
          </tr>
          <tr>
            <th>comments</th>
            <td><textarea class="form-control" rows="2" id="remark" formControlName="comments" name="remarks"
                required></textarea></td>
          </tr>
          <tr>
            <th></th>
            <td><button type="submit" [disabled]="rejectForm.invalid"
                class="btn btn-primary btn-sm ml-5">Submit</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>


<div class="card mt-2" *ngIf="isRequestInfo">
  <div class="card-header text-center text-white">REQUEST INFO</div>
  <div class="card-body">
    <div class="d-flex justify-content-end p-2 mb-2"><button class="btn btn-info btn-sm"
        (click)="onClickRequestInfoBack()"><i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i></button></div>

    <form [formGroup]="requestInfoForm" (ngSubmit)="onSubmitRequestInfo()">

      <table class="table d-flex justify-content-center">
        <tbody>
          <tr>
            <th>Token Number</th>
            <td><small>{{viewIssue.tokenNumber}}</small></td>
          </tr>
          <tr>
            <th>Request to</th>
            <td>
              <div>
                <select class="form-control" name="requestinfo" formControlName="user" required>
                  <option value="" disabled>Select user</option>
                  <option *ngFor="let info of requestInfoUser" [ngValue]="info"
                    class="form-control form-control-sm text-center">
                    {{info.requestUsername}}&nbsp;{{info.requestName}}</option>
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <th>Remark</th>
            <td><textarea class="form-control" rows="2" formControlName="remark" required></textarea></td>
          </tr>
          <tr>
            <th></th>
            <td><button type="submit" [disabled]="requestInfoForm.invalid"
                class="btn btn-primary btn-sm ml-5">Submit</button></td>
          </tr>

        </tbody>
      </table>



    </form>
  </div>
</div>


<div *ngIf="isProcessing">
  <div class="form-group d-flex justify-content-center mt-3">
    <label class="font-weight-bold">Processing....</label>
    <div class="spinner-border text-info"></div>
  </div>
</div>