<div class="card border-dark">
  <div class="card-header text-center main-header text-white">TRACK ISSUE</div>
  <div class="card-body">

    <form [formGroup]="tokenSearchFrom" (ngSubmit)="searchClicked()">
      <div class="form-group form-inline d-flex justify-content-center">
        <div class="mx-sm-3">
          <input type="text" class="form-control form-control-sm" id="tokenNumber" formControlName="tokenNumber"
            name="tokenNumber" placeholder="Enter Token number" autocomplete="off">
        </div>
        <div>
          <button type="submit" [disabled]="tokenSearchFrom.invalid" class="btn btn-sm btn-primary" id="search"
            name="search">Search</button>
        </div>
      </div>
    </form>

    <div *ngIf="isProcessing">
      <div class="form-group d-flex justify-content-center">
          <label class="font-weight-bold">Processing....</label>
          <div class="spinner-border text-info"></div>
      </div>
    </div>
  
    <div class="container px-1 px-md-4 py-5 mx-auto" *ngIf="isStatus">
        <div class="card">
        <div class="row d-flex justify-content-between px-3 top">
          <div class="d-flex">
            <h5>Token Number <span class="text-primary font-weight-bold">{{tokenNumber}}</span>
            </h5>
          </div>

        </div> <!-- Add class 'active' to progress -->
        <div class="row" *ngIf="statusList">
          <div class="col-12">
            <ul id="progressbar" class="text-center">
              <li class="active step0">PENDING ({{statusList[0]?.name}})</li>
              <ng-template ngFor let-status [ngForOf]="statusList" let-first="first" let-last="last" let-i="index">
                <!-- <li class="active step0" *ngIf="!first">{{status.status | uppercase}} - {{first}} - {{last}} - {{i}} first</li> -->
                <li class="active step0"
                  *ngIf="!first && (statusList[statusList.length - 1]?.status | uppercase ) !== 'COMPLETED'">
                  {{status.status | uppercase}} ({{status.name}})</li>
              </ng-template>
              <li class="step0" *ngIf="(statusList[statusList.length - 1]?.status | uppercase ) !== 'REJECTED'"
                [class.active]="(statusList[statusList.length - 1]?.status | uppercase ) === 'COMPLETED'">
                COMPLETED <span
                  *ngIf="(statusList[statusList.length - 1]?.status | uppercase ) === 'COMPLETED'">({{statusList[statusList.length - 1]?.name}})</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- <div class="row justify-content-between top">
          <div class="row d-flex icon-content"> <img class="icon" src="https://i.imgur.com/9nnc9Et.png">
            <div class="d-flex flex-column">
              <p class="font-weight-bold">Isseue<br>Registered</p>
            </div>
          </div>
          <div class="row d-flex icon-content"> <img class="icon" src="https://i.imgur.com/u1AzR7w.png">
            <div class="d-flex flex-column">
              <p class="font-weight-bold">Issue<br>Assign</p>
            </div>
          </div>
          <div class="row d-flex icon-content"> <img class="icon" src="https://i.imgur.com/TkPm63y.png">
            <div class="d-flex flex-column">
              <p class="font-weight-bold">Issue<br>En Process</p>
            </div>
          </div>
          <div class="row d-flex icon-content"> <img class="icon" src="https://i.imgur.com/HdsziHP.png">
            <div class="d-flex flex-column">
              <p class="font-weight-bold">Issue<br>Resolved</p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
</div>
</div>