<div class="card">
  <div class="card-header">
    <div id="titleDiv"> <h3 class="card-title text-white">REQUEST INFORMATION</h3></div>
     <div class="card-tools">
     <button
       type="button"
       class="btn btn-tool"
       data-card-widget="collapse"
     >
       <i class="fas fa-minus"></i>
     </button>
     <button
       type="button"
       class="btn btn-tool"
       data-card-widget="remove"
     >
       <i class="fas fa-times"></i>
     </button>
   </div>
 </div>
 <!-- /.card-header -->
 <div class="card-body">
  <div *ngIf="!(requestInfo.length>0)" class="alert alert-warning text-center" role="alert">
    Request Notification not found !
  </div>

   <div *ngIf="requestInfo !== 'null' && requestInfo.length>0">
     <!-- <hr> -->
     <table class="table table-responsive-md table-hover text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Token number</th>
          <th scope="col">Request Message</th>
          <th scope="col">Requested By</th>
          <th scope="col">Requested On</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let info of requestInfo let i = index">
          <td>{{i+1}}</td>
          <td><small><b>{{info.tokenNumber}}</b></small></td>
          <td><small>{{info.requestMessage}}</small></td>
          <td><small>{{info.requestedUsername}}({{info.requestedName}})</small></td>
          <td><small>{{info.createdOn | date:'medium'}}</small></td>
          <td><button class="btn btn-info btn-sm" (click)="onClickReply(info)" data-toggle="modal" data-target="#myModal">Reply</button>
          </td>

        </tr>
      </tbody>
    </table>
    
   </div> 
   <!-- /.d-md-flex -->
 </div>
 <!-- /.card-body -->
</div>


<div class="card">
  <div class="card-header">
    <div id="titleDiv"> <h3 class="card-title text-white">RESPONSE INFORMATION</h3></div>
     <div class="card-tools">
     <button
       type="button"
       class="btn btn-tool"
       data-card-widget="collapse"
     >
       <i class="fas fa-minus"></i>
     </button>
     <button
       type="button"
       class="btn btn-tool"
       data-card-widget="remove"
     >
       <i class="fas fa-times"></i>
     </button>
   </div>
 </div>
 <!-- /.card-header -->
 <div class="card-body">

  <div *ngIf="!(requestInfoList.length>0)" class="alert alert-warning text-center" role="alert">
    Response Notification not found !
  </div>
   <div *ngIf="requestInfoList !== 'null' && requestInfoList.length>0">
     <!-- <hr> -->
     <table class="table table-responsive-md table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Token number</th>
          <th scope="col">Request Message</th>
          <th scope="col">Response Message</th>
          <th scope="col">Response by</th>
          <th scope="col">Response On</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let info of requestInfoList let i = index">
          <td>{{i+1}}</td>
          <td><small><b>{{info.tokenNumber}}</b></small></td>
          <td><small>{{info.requestMessage}}</small></td>
          <td><small>{{info.responseMessage}}</small></td>
          <td><small>{{info.username}}({{info.name}})</small></td>
          <td><small>{{info.createdOn|date:'medium'}}</small></td>
         <td><button class="btn btn-info btn-sm"(click)="onClickViewResponse(info)">view</button>
          </td>
        </tr>
      </tbody>
    </table>
    
   </div> 
   <!-- /.d-md-flex -->
 </div>
 <!-- /.card-body -->
</div>

  <div class="card border-dark" *ngIf="isViewResponse">
    <div class="card-header text-center  text-white">VIEW RESPONSE INFORAMTION</div>
    <div class="card-body">
      <div class="d-flex justify-content-end p-2 mb-2"><button class="btn btn-info btn-sm"
        (click)="onClickViewResponseBack()"><i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i></button></div>
        <div class="row">
          <div class="col-md-12">
            <div class="card border-0 rounded-0">
               <div class="card-body">
                <div class="table-responsive-md">
                  <table class="table d-flex justify-content-center">
                     <tbody>
                      <tr>
                        <th>Token number</th><td>{{viewResponse.tokenNumber}}</td>
                      </tr>
                      <tr>
                        <th>Request Message</th><td><textarea class="form-control" rows="2" readonly id="remark"[ngModel]="viewResponse.requestMessage"  name="requestMessage"></textarea></td>
                      </tr>
                        <tr>
                          <th>Response Message</th><td><textarea class="form-control" rows="2" readonly id="remark"[ngModel]="viewResponse.responseMessage"  name="remarks"></textarea></td>
                         
                        </tr>
                        <tr>
                          <th>Response By</th> <td>{{viewResponse.username}}({{viewResponse.name}})</td>
                        </tr>
                        <hr>
                        <tr *ngFor="let file of requestInformationFile let i=index">
                         <td>{{i+1}}</td>
                          <td>{{file.originalName}}</td>
                          <td><button type="button" class="btn btn-info btn-sm" (click)="onClickViewFile(file)">view</button></td>
                        </tr>
                       </tbody>
                  </table>
                </div>
  
              </div>
            </div>
          
        </div>
      </div>
    </div>
    
  </div>

<!-- The Modal -->
<div class="modal" id="myModal" *ngIf="isReply">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title text-white">REPLY REQUEST</h4>
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="replyForm">
          <table class="table table-responsive-md">
            <tbody>
              <tr>
                <td>Token Number</td>
                <td><small><b>{{viewRequest.tokenNumber}}</b></small></td>
              </tr>
              <tr>
                <td>Reply Message</td>
                <td><textarea class="form-control" rows="2" id="remark" formControlName="replyMessage" name="remarks"
                    required></textarea></td>
              </tr>
              <tr>
                <td>Attachment </td><td><input type="checkbox" class="form-check-input" formControlName="isAttachment" id="exampleCheck1" (click)="isAttachmentClicked()"></td>
              </tr>
              <tr *ngIf="replyForm.value.isAttachment"><td>No of file</td><td><font color=red>2 file allow</font></td></tr>
              <tr *ngIf="replyForm.value.isAttachment"><td>File size</td><td><font color=red>1 Mb</font></td></tr>
              <tr *ngIf="replyForm.value.isAttachment"><td>File type</td><td><font color=red>[ jpg, pdf ,doc ,xls ] only</font></td></tr>
              <tr *ngIf="replyForm.value.isAttachment"><td></td><td ><input type="file" class="form-control-file" (change)="onFileChange($event)"formControlName="attachment" accept="image/*,.pdf,.doc,.docx,.xml,.xls" multiple required></td></tr>
              <tr *ngIf="uploadFiles && uploadFiles.length>0">
                <th>#</th>
                <th>File name</th>
                <th>Action</th>
              </tr>             
              <tr *ngFor="let file of uploadFiles; let i = index">
                <td>{{i+1}}</td>
                <td>{{file.name}}</td>
                <td> {{file.size/1000000 | number}}Mb</td>
                <td>
                  <button class="btn btn-danger btn-sm" type="button" (click)="deleteFieldValue(i)"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button>
                </td>
              </tr>  
            </tbody>
          </table>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" [disabled]="replyForm.invalid" data-dismiss="modal" (click)="onReplyubmit()" class="btn btn-primary btn-sm">Submit</button>
         <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
 