.container {
    display: flex;
    justify-content: center;
  }
  
  .card-header {
    font-size: 20px;
    background-color: rgb(23 162 184);
  }
  
  .table thead th {
    background-color: #17a2b8;
    color: white;
  }
  
  .table td {
    border-top: 1px;
  }