<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
        <!-- <a class="navbar-brand text-white text-center">Common Issue Tracker</a> -->
        <div class="header">
            <!-- <small>UserId : {{loggedInUser.getUserName())}} </small>  -->
            <small class="text-white">Username : {{loggedInUser.getUsername()}} &nbsp;&nbsp; || </small> &nbsp;
            <small class="text-white">LocationName : {{loggedInUser.getLocationShortName()}} &nbsp;&nbsp; || </small>&nbsp;
            <small class="text-white">LocationCode : {{loggedInUser.getLocationCode()}} &nbsp;&nbsp; || </small>&nbsp;
            <small class="text-white">Role : {{loggedInUser.getRole()}}</small>
                
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i>
                    </a>
                     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <!-- <a class="dropdown-item" href="javascript:void(0);" (click)="settingClicked()"><span class="fa fa-wrench" aria-hidden="true">&nbsp;&nbsp;</span>Settings</a> -->
                        <a class="dropdown-item" href="javascript:void(0);" (click)="logoutClicked()"><span
                                class="fa fa-sign-out" aria-hidden="true">&nbsp;&nbsp;</span>Logout</a>
                    </div>
                </li>
                                
            </ul>
             <div>
                <small class="text-white">Welcome : {{loggedInUser.getName()}} || </small>
             </div>
             <div class="text-white ml-2">
                <small>Session Expire In : <app-session-timer></app-session-timer></small>
              </div>

        </div>
    </div>
</nav>