<div class="nav-side-menu">
  <div class="brand">MENU</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="menu-list">

    <ul id="menu-content" class="menu-content collapse out">
      
      <li>
        <a [routerLink]="['home']" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">
        <i class="fa fa-home fa-lg mr-2"></i> Home
        </a>
      </li>

      <li>
        <a [routerLink]="['dashboard']" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">
          <i class="fa fa-dashboard fa-lg mr-2 "></i> Dashboard
        </a>
      </li>


      <li data-toggle="collapse" data-target="#products" class="collapsed" *ngIf="role ==='oic'">
        <a> <i class="fa fa-users fa-lg mr-2 "></i> Users <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="products">
        <li class="active"><a [routerLink]="['add-user']" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Add User</a></li>
        <!-- <li><a >View User</a></li> -->
      </ul>


      <li data-toggle="collapse" data-target="#service" class="collapsed">
        <a><i class="fa fa-globe fa-lg mr-2"></i> Issue <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="service">
        <li class="active"><a [routerLink]="['add-issue']" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Add Issue</a></li>
        <li class="active"><a [routerLink]="['view-issue']" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">View Issue</a></li>
        <li class="active"><a [routerLink]="['track-issue']" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Track Issue</a></li>

      </ul>
      
      <li>
        <a [routerLink]="['notification']" [routerLinkActiveOptions]="{exact:true}" (click)="oclickNotification()" routerLinkActive="active">
          <i class="fa fa-bell fa-lg mr-2 "></i> Notification <span class="badge badge-light">{{notification}}</span>
        </a>
      </li>
       

      <li data-toggle="collapse" data-target="#new" class="collapsed">
        <a><i class="fa fa-file fa-lg mr-2"></i> Report <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="new">
        <!-- <li>New New 1</li>
        <li>New New 2</li>
        <li>New New 3</li> -->
      </ul>
    </ul>
  </div>
</div>