<div class="card border-dark">
  <div class="card-header text-center main-header text-white">ADD USER</div>
  <div class="card-body">
    <div class="container mt-3">
      <form [formGroup]="userProjectFrom" (ngSubmit)="onclickAddUserProject()">
        <div class="row">

          <div class="col-md-5">

            <div>
              <select class="form-control" name="projectName" formControlName="project" required>
                <option value="" disabled>Select Project</option>
                <option *ngFor="let pro of project" [ngValue]="pro" class="form-control form-control-sm text-center">
                  {{pro.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">

            <div>
              <select class="form-control" name="user" formControlName="user" required>
                <option value="" disabled>Select User</option>
                <option *ngFor="let user of users" [ngValue]="user" class="form-control form-control-sm">
                  {{user.username}}&nbsp;({{user.name}})
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-1">

            <div class="button">
              <button type="submit" [disabled]="userProjectFrom.invalid" class="btn btn-success btn-sm">Add</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="isProcessing">
      <div class="form-group d-flex justify-content-center mt-3">
          <label class="font-weight-bold">Processing....</label>
          <div class="spinner-border text-info"></div>
      </div>
    </div>

    <div class="containe-fluid">

      <div class="row mb-4">

        <div class="col-md-12">
          <div class="card border-0 rounded-0">
            <div class="card-title mb-1 p-3 mt-5 text-center">
              <!-- <h5>Project User Mapping</h5> -->
            </div>
            <div class="card-body">
              <div class="table-responsive-md">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Username</th>
                      <th scope="col">Name</th>
                      <th scope="col">Location Code</th>
                      <th scope="col">Location name</th>
                      <th scope="col">Project name</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let project of projectUserMapping let i = index">
                      <td>{{i+1}}</td>
                      <td>{{project.username}}</td>
                      <td>{{project.name}}</td>
                      <td>{{project.locationCode}}</td>
                      <td>{{project.locationName}}</td>
                      <td>{{project.projectName}}</td>
                      <td><button class="btn btn-danger btn-sm" (click)="onClickDeleteUser(project)">Delete</button>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>