<div class="card border-dark">
  <div class="card-header text-center main-header text-white">ADD USER</div>
  <div class="card-body">
    <div class="container">
      <div>
        <div>
          <label for="project">Select Project</label>
        </div>
        <select
          [ngClass]="{'is-valid': !projectName.errors && (projectName.dirty || projectName.touched),'is-invalid': projectName.errors && (projectName.dirty || projectName.touched)}"
          class="form-control" name="projectName" [(ngModel)]="selectedProject" #projectName="ngModel" required>
          <option [value]="undefined" selected disabled>Select Project</option>
          <option *ngFor="let pro of project" [ngValue]="pro" class="form-control form-control-sm text-center">
            {{pro.name}}</option>
        </select>
        <div class="invalid-feedback" *ngIf="projectName.errors && (projectName.dirty || projectName.touched)"
          [hidden]="!projectName.errors.required">Project name is require</div>
      </div>
      <div>
        <div>
          <label for="user" class="text-center">Select User</label>
        </div>
        <div>
          <select
            [ngClass]="{'is-valid': !user.errors && (user.dirty || user.touched),'is-invalid': user.errors && (user.dirty || user.touched)}"
            class="form-control" name="user" [(ngModel)]="selectedUser" #user="ngModel" required>
            <option [value]="undefined" selected disabled>Select User</option>
            <option *ngFor="let user of users" [ngValue]="user" class="form-control form-control-sm">
              {{user.username}}&nbsp;({{user.name}})
            </option>
          </select>
          <div class="invalid-feedback" *ngIf="user.errors && (projectName.dirty || user.touched)"
            [hidden]="!user.errors.required">User is require</div>
        </div>
      </div>
      <div class="button">
        <button class="btn btn-success" (click)="onclickAddUserProject()">Add</button>
      </div>
    </div>

    <div class="containe-fluid">

      <div class="row mb-4">

        <div class="col-md-12">
          <div class="card border-0 rounded-0">
            <div class="card-title mb-1 p-3 mt-5 text-center">
              <!-- <h5>Project User Mapping</h5> -->
            </div>
            <div class="card-body">
              <div class="table-responsive-md">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Username</th>
                      <th scope="col">Name</th>
                      <th scope="col">Location Code</th>
                      <th scope="col">Location name</th>
                      <th scope="col">Project name</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let project of projectUserMapping let i = index">
                      <td>{{i+1}}</td>
                      <td>{{project.username}}</td>
                      <td>{{project.name}}</td>
                      <td>{{project.locationCode}}</td>
                      <td>{{project.locationName}}</td>
                      <td>{{project.projectName}}</td>
                      <td><button class="btn btn-danger btn-sm">Delete</button></td>

                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
    </div>
    </div>
    